{% extends '_base.html' %}

{% load static %}

{% block title %}About Us{% endblock title %}
{% block section1-content %}
<section class="section section-no-border section-light custom-padding-top-1 mb-0">
					<div class="container">
						<div class="row">
							<div class="col">
								<h1 class="font-weight-bold text-color-primary mt-4 mb-0">Pricing</h1>
								<h4 class="font-weight-bold text-color-quaternary">The perfect plan for you</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquet laoreet lorem, a imperdiet sapien tincidunt at. Vivamus sed libero ut diam feugiat sagittis sit amet in justo.</p>
							</div>
						</div>
					</div>
				</section>

				<section class="section section-quaternary section-center section-no-border m-0">
					<div class="container">						
						<div class="row justify-content-center">
							<div class="col-sm-9 col-md-7 col-lg-4 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="0">
								<span class="thumb-info custom-thumb-info-2">
									<span class="thumb-info-caption bg-color-light text-center p-5">
										<h4 class="font-weight-bold text-color-quaternary custom-font-style-1">Yearly</h4>
										<span class="font-weight-bold text-color-primary custom-font-style-2">$199 / month</span>
										<ul class="list custom-pricing-list list-primary list-borders">
											<li>Unlimited Use</li>
											<li>Yoga Classes</li>
											<li>Zumba Classes</li>
										</ul>
										<a class="btn btn-primary custom-btn-style-1 text-uppercase text-color-light custom-font-weight-medium" href="demo-gym-contact-us.html" title="Join Now">Join Now</a>
									</span>
								</span>
							</div>
							<div class="col-sm-9 col-md-7 col-lg-4 custom-sm-margin-1 custom-xs-margin-2 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="1000">
								<span class="thumb-info custom-thumb-info-2">
									<span class="thumb-info-caption bg-color-light text-center p-5">
										<h4 class="font-weight-bold text-color-quaternary custom-font-style-1">Monthly</h4>
										<span class="font-weight-bold text-color-primary custom-font-style-2">$229 / month</span>
										<ul class="list custom-pricing-list list-primary list-borders">
											<li>Unlimited Use</li>
											<li>Yoga Classes</li>
											<li>Zumba Classes</li>
										</ul>
										<a class="btn btn-primary custom-btn-style-1 text-uppercase text-color-light custom-font-weight-medium" href="demo-gym-contact-us.html" title="Join Now">Join Now</a>
									</span>
								</span>
							</div>
							<div class="col-sm-9 col-md-7 col-lg-4 custom-sm-margin-1 custom-xs-margin-2 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="2000">
								<span class="thumb-info custom-thumb-info-2">
									<span class="thumb-info-caption bg-color-light text-center p-5">
										<h4 class="font-weight-bold text-color-quaternary custom-font-style-1">Personal</h4>
										<span class="font-weight-bold text-color-primary custom-font-style-2">$399 / month</span>
										<ul class="list custom-pricing-list list-primary list-borders">
											<li>Unlimited Use</li>
											<li>Yoga Classes</li>
											<li>Zumba Classes</li>
										</ul>
										<a class="btn btn-primary custom-btn-style-1 text-uppercase text-color-light custom-font-weight-medium" href="demo-gym-contact-us.html" title="Join Now">Join Now</a>
									</span>
								</span>
							</div>
						</div>
					</div>
				</section>

				<section class="section section-center section-no-border section-light">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-md-8 col-lg-4">
								<img src="img/demos/gym/icons/trainer-colored.png" class="mb-2" alt />
								<h2 class="font-weight-bold text-color-quaternary">Trainers</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit, felis nec gravida lobortis, est felis convallis lacus, vitae commodo metus ipsum.</p>
								<a class="btn btn-primary custom-btn-style-1 text-uppercase text-color-light custom-font-weight-medium" href="demo-gym-staff.html" title="Meet The Staff">Meet the Staff</a>
							</div>
							<div class="col-md-8 col-lg-4 custom-sm-margin-1">
								<img src="img/demos/gym/icons/member-colored.png" class="mb-2" alt />
								<h2 class="font-weight-bold text-color-quaternary">Become a Member</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit, felis nec gravida lobortis, est felis convallis lacus, vitae commodo metus ipsum.</p>
								<a class="btn btn-primary custom-btn-style-1 text-uppercase text-color-light custom-font-weight-medium" href="demo-gym-contact-us.html" title="Join Now">Join Now</a>
							</div>
							<div class="col-md-8 col-lg-4 custom-sm-margin-1">
								<img src="img/demos/gym/icons/group-fitness-colored.png" class="mb-2" alt />
								<h2 class="font-weight-bold text-color-quaternary">Group Fitness</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit, felis nec gravida lobortis, est felis convallis lacus, vitae commodo metus ipsum.</p>
								<a class="btn btn-primary custom-btn-style-1 text-uppercase text-color-light custom-font-weight-medium" href="demo-gym-classes.html" title="Learn More">Learn More</a>
							</div>
						</div>
					</div>
				</section>
{% endblock section1-content %}